<div class="d-flex justify-content-between align-items-center my-2">
  <%= yield %>
</div>
<%= render questions %>
<%= will_paginate questions,
  renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<%= content_for :sidebar do %>
  <%= render 'groups/popular' %>
<% end %>
