<%= render @question do %>
  <div class="my-2 pt-1"><%= @question.content %></div>
<% end %>
<%= render 'answers/form', answer: Answer.new %>
<hr>
<% if @question.answers.any? %>
  <h5>Answers (<%= @question.answers.count %>)</h5>
<% end %>
<%= render @question.answers.ranked %>
<%= content_for :sidebar do %>
  <section>
    <% if @question.group %>
      <% similar_group_qsns = @question.similar(5, group_id: @question.group.id) %>
      <% if similar_group_qsns.any? %>
        <h6 class="fw-bold">Similar Questions in Group</h6>
        <% similar_group_qsns.each do |question| %>
          <%= render 'shared/card_item' do %>
            <%= link_to question.title, question, class: 'text-decoration-none' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </section>
  <section>
    <% similar_public_qsns = @question.similar(5) %>
    <% if similar_public_qsns.any? %>
      <h6 class="fw-bold">Similar Public Questions</h6>
      <% similar_public_qsns.each do |question| %>
        <%= render 'shared/card_item' do %>
          <%= link_to question.title, question, class: 'text-decoration-none' %>
        <% end %>
      <% end %>
    <% end %>
  </section>
<% end %>
