<%= render @question do %>
  <div class="my-2 pt-1"><%= @question.content %></div>
<% end %>
<%= render 'answers/form', answer: Answer.new %>
<hr>
<% if @question.answers.any? %>
  <h5>Answers (<%= @question.answers.count %>)</h5>
<% end %>
<%= render @question.answers %>
<%= content_for :sidebar do %>
  <h6 class="fw-bold">
    Similar Questions
    <% if @question.group %>in Group<% end %>
  </h6>
  <% @question.similar(5, group_id: @question.group&.id).each do |question| %>
    <div class="card p-2 my-2 rounded-0 bg-light">
      <h6 class="card-title py-1 my-0">
        <%= link_to question.title, question, class: 'text-decoration-none' %>
      </h6>
    </div>
  <% end %>
  <% if @question.group %>
    <h6 class="fw-bold">Similar Public Questions</h6>
    <% @question.similar(5).each do |question| %>
      <div class="card p-2 my-2 rounded-0 bg-light">
        <h6 class="card-title py-1 my-0">
          <%= link_to question.title, question, class: 'text-decoration-none' %>
        </h6>
      </div>
    <% end %>
  <% end %>
<% end %>
