<div id='<%= dom_id(comment) %>' class='py-2 border-start border-1 ps-3 pb-0 card border-0 rounded-0 <%= cycle('', 'bg-light') %> '>
  <div class="d-flex justify-content-start align-items-center">
    <%= user_avatar(comment.user, height: 30, width: 30) %>
    <div class='d-flex flex-column ms-2'>
      <%= link_to comment.user.name, comment.user, class: 'mx-1 text-decoration-none' %>
      <p class='fw-lighter timestamp my-0 ms-1'>
        <%= distance_of_time_in_words_to_now(comment.created_at) %> ago
      </p>
    </div>
  </div>
  <%= comment.content %>
  <div class="d-flex align-items-center justify-content-between pe-3">
    <%= render 'comments/reply', commentable: comment %>
    <% if policy(comment).destroy? %>
      <%= link_to 'delete', comment_path(comment), method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 'float-end delete-link link-danger' %>
    <% end %>
  </div>
  <%= render comment.comments %>
</div>
