<div class="d-flex justify-content-between mt-3 mt-md-0 border-bottom">
  <h5><%= group.name %></h5>
  <span class="d-flex">
    <% if policy(group).edit? %>
      <%= link_to 'Edit', edit_group_path(group), class: 'mx-1' %>
      <%= link_to 'Delete', group, method: :delete, data: {confirm: 'Are you sure'}, class: 'link-danger' %>
    <% end %>
    <% if policy(group).leave? %>
      <%= link_to 'Leave', group_membership_path(@group), class: ' link-danger mx-1', method: :delete %>
    <% end %>
    <% if policy(group).join? %>
      <%= link_to 'join', group_membership_path(group), class: 'mx-1', method: :patch %>
    <% end %>
  </span>
</div>
<table class="table table-sm">
  <tbody class="small">
    <tr>
      <th>Admin</th>
      <td><%= link_to group.admin.name, group.admin, class: 'text-decoration-none text-secondary' %></td>
    </tr>
    <tr>
      <th>Group Type</th>
      <td><%= group.group_type %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= group.created_at.to_s(:long) %></td>
    </tr>
  </tbody>
</table>
<table class='table table-sm'>
  <tr>
    <th>Members</th>
  </tr>
  <% group.users.each do |user| %>
    <tr>
      <td class='small'>
        <%= user.name %>
        <span class='float-end small text-muted'>Joined: <%= user.joined_on(group) %></span>
      </td>
    </tr>
  <% end %>
</table>
