<div class="d-flex align-items-center justify-content-between">
  <h1 class='h2'>Groups</h1>
  <%= link_to 'New Group', new_group_path, class: 'btn btn-primary' %>
</div>
<table class='table mt-3 table-hover'>
  <thead>
    <tr>
      <td>Rank</td>
      <td>Name</td>
      <td>Type</td>
    </tr>
  </thead>
  <tbody>
    <% @groups.each.with_index do |group, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td class='h5'>
          <%= link_to group.name, group, 
              class: 'text-decoration-none' %>
        </td>
        <td class='text-muted text-end'><%= group.group_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @groups, 
    renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
