<div class="card rounded-0">
  <% if @group.banner.attached? %>
    <%= image_tag @group.banner, class: 'card-img-top rounded-0 group-banner' %>
  <% else %>
    <%= image_tag 'default_banner_img.png', class: 'card-img-top rounded-0 group-banner'  %>
  <% end %>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3><%= @group.name %></h3>
      <div><%= render 'ask', group: @group %></div>
    </div>
    <div class="card-text"><%= @group.description %></div>
  </div>
</div>
<br>
<% if policy(@group).participate? %>
  <h1 class='h5 text-uppercase'>Questions</h1>
  <%= render @questions %>
  <%= will_paginate @questions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% else %>
  <%= render 'shared/card_item' do %>
    <h5 class='text-danger'>The questions in this group can only be seen by the group members</h5>
    <p class='my-0'>Join the group to view the questions and participate</p>
  <% end %>
<% end %>
<%= content_for :sidebar do %>
  <%= render 'sidebar', group: @group %>
<% end %>
