<%= render @user %>
<div data-controller='tab'>
  <ul class="nav nav-tabs mt-3">
    <li class="nav-item">
      <a data-tab-target='aboutLink' data-action="click->tab#about" class="nav-link active" href="#">About</a>
    </li>
    <li class="nav-item">
      <a data-tab-target='questionsLink' data-action="click->tab#questions" class="nav-link" href="#">Questions</a>
    </li>
    <li class="nav-item">
      <a data-tab-target='answersLink' data-action="click->tab#answers" class="nav-link" href="#">Answers</a>
    </li>
    <% if current_user == @user %>
      <li class="nav-item">
        <a data-tab-target='requestsLink' data-action="click->tab#requests" class="nav-link" href="#">Requests</a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="user-tabs">
    <div data-tab-target="about" class="tab-pane fade show active">
      <div class="lead"><%= @user.about %></div>
    </div>
    <div data-tab-target="questions" class="tab-pane fade">
      <%= render 'questions', user: @user %>
    </div>
    <div data-tab-target="answers" class="tab-pane fade">
      <%= render 'answers', user: @user %>
    </div>
    <% if current_user == @user %>
      <div data-tab-target="requests" class="tab-pane fade">
        <%= render 'group_memberships/requests', user: @user %>
      </div>
    <% end %>
  </div>
</div>
<%= content_for :sidebar do %>
  <%= render 'sidebar', user: @user %>
<% end %>
